name: expense-pulse
services:
    frontend:
        build:
            context: ./expense-pulse
        ports:
            - "5173:5173"
        volumes:
            - ./expense-pulse:/app
            - /app/node_modules
        environment:
            - NODE_ENV=development
        restart: always
        networks:
            - expense-network
        healthcheck:
            test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:5173/" ]
            interval: 10s
            timeout: 5s
            retries: 3
            start_period: 20s

    backend:
        build:
            context: ../progetto-transazioni-backend
            dockerfile: Dockerfile
        ports:
            - "9091:9091"
            - "5005:5005"
        volumes:
            - ../progetto-transazioni-backend:/app
            - ~/.m2:/root/.m2
        environment:
            - QUARKUS_PROFILE=prod
        networks:
            - expense-network
        healthcheck:
            test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:9091/q/health/live" ]
            interval: 10s
            timeout: 5s
            retries: 3
            start_period: 30s
    mongo:
        image: mongo:8.0
        # container_name: expense-mongo
        restart: always
        ports:
            - "27017:27017" 
        # environment:
        #     - MONGO_INITDB_ROOT_USERNAME=root
        #     - MONGO_INITDB_ROOT_PASSWORD=secret
        #     - MONGO_INITDB_DATABASE=expense-pulse
        volumes:
            - mongo-data:/data/db
        networks:
            - expense-network

networks:
    expense-network:
        driver: bridge
volumes:
  mongo-data:
